html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Your css */

html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.paperBg {
	width: 100%;
	height: 100%;
	background: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.4;
	z-index: 10;
}

.main-box {
	width: 100%;
	height: 100%;

	background-color: rgb(218, 153, 103);
	color: #2e2a26;
}

.cont {
	background-color: transparent;

	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.coolBorder {
	box-shadow: 0px 0px 4px #606060;
	border-radius: 8px;
}

.title-box {
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
	font-size: 86px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	font-weight: 400;
	letter-spacing: 3px;
}

.timer-box{
	height: 150px;
	margin-bottom: 20px;

	padding: 10px;

	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;

}

.timer-box div {
	flex-grow: 1;

	margin-right: 10px;
	padding: 20px;
	text-align: center;
	line-height: 1;
	border-bottom: 2px solid #2e2a26;
}

.timer-box div:nth-child(4) {
	margin-right: 0px;
}

.upperText {
	font-size: 72px;
}

.text-box {
	width: 100%;
	height: 500px;

	overflow-y: scroll;
	word-wrap: break-word;

	margin-top: 20px;
}

.text {
	padding: 10px;
	font-size: 26px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.type-box {
	width: 100%;
	height: 100px;

	padding: 20px;
}

.typeHereBtn {
	width: 60%;
	height: 6vh;
	padding: 10px;
	font-size: 2rem;
	text-align: left;
	background-color: transparent;
	display: block;
	margin: 0 auto;
	border: 0;
	border-bottom: 2px solid #373737;
	opacity: 0.8;
}

.typeHereBtn:focus{
	outline: none;
}

.wr {
	width: 100%;
	height: 100%;
	
	margin-top: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.stopBtn {
	margin-right: 10px;
}
.resetBtn {
	margin-left: 10px;
}

.stopBtn, .resetBtn {
	width: 120px;
	height: 3vh;

	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: transparent;
	color: #373737;
	opacity: 0.8;
	border: 0;
	letter-spacing: 2px;
	
    font-family: 'Roboto', sans-serif;

	transition: all 0.2s;

}

.stopBtn:hover, .resetBtn:hover {
	opacity: 0.9;
	transform: scale(1.15);
}




@keyframes currentText {
	0% {
		font-size: 2rem;
	}
	100% {
		font-size: 2.5rem;
	}
}

.current {
	color: #ffffff;
	font-weight: 400;

	animation-name: currentText;
  	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.tSuccess {
	color: rgb(169, 255, 103);
}

.tWrong {
	color: rgb(228, 43, 6);
	text-decoration: line-through;
}

@media screen and (max-width: 1250px) {
	.text {
		font-size: 28px;
	}

	.title-box {
		font-size: 56px;
	}
}

@media screen and (max-width: 1000px) {
	.text {
		font-size: 22px;
	}
}

@media screen and (max-width: 767px) {
	.text {
		font-size: 20px;
	}

	.title-box {
		font-size: 48px;
	}

	.upperText {
		font-size: 36px;
	}
}

@media screen and (max-width: 576px) {
	.text {
		font-size: 16px;
	}

}